@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  color: #edeef0;
  background-color: #191919;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  height: 13vh;
  background-color: #391714;
}
.logo {
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
}
ul {
  display: flex;
  list-style: none;
  gap: 22px;
}
li {
  margin: 0 10px;
  cursor: pointer;
}
li:hover {
  text-decoration: underline;
}
.btn {
  outline: none;
  border: none;
  background: transparent;
  padding: 13px 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #edeef0;
  background-color: #fd195e42;
  border-radius: 25px;
  border: 1px solid #dcd9d9e4;
  cursor: pointer;
}
.link {
  color: inherit;
  text-decoration: none;
}
.main {
  height: 86vh;
}
.maincontainer {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.right {
  width: 60%;
}
.right img {
  height: 500px;
  align-self: center;
}
.left {
  width: 35%;
  padding-left: 39px;
}
.left > * {
  margin: 20px 0;
}
.left h3 {
  font-weight: 400;
  font-size: 1.3rem;
}
.left h1 {
  font-size: 2.5rem;
}
.btn:hover {
  background-color: #fd195da1;
}
.forum {
  height: 90vh;
  width: 40vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dcd9d9e4;
}
.parentForum {
  display: grid;
  place-items: center;
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
}
input {
  display: block;
  padding: 20px;
  width: 100%;
  border-radius: 15px;
  background: transparent;
  border: none;
  border: 1px solid #dcd9d9e4;
  outline: none;
  font-size: 1rem;
  color: #fff;
}
form h1 {
  text-align: center;
}
.extras {
  width: 100%;
  display: flex;
  padding: 0 34px;
  gap: 2px;
  margin-top: 15px;
  justify-content: center;
  /* align-items: center; */
  text-align: start;
  flex-direction: column;
}
.extras .link {
  color: #3b9eff;
}
.extras .link:hover {
  text-decoration: underline;
  color: #70b8ff;
}
